@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: 'Mulish', sans-serif;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.login {
  display: flex;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  position: relative;
  background-color: #fff;
  // margin: 30vh auto;
  border-radius: 1rem;
  .close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.75rem;
    cursor: pointer;
  }
  .auth-header {
    margin: 3rem 0 1.5rem 0;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .auth-container {
    width: fit-content;
    text-align: center;
    .auth-btn {
      border: none;
      width: 100%;
      background-color: transparent;
      margin-bottom: 1rem;
      outline: none;
      cursor: pointer;
    }
    .hr-text {
      color: black;
      text-align: center;
      opacity: 0.6;
      padding-bottom: 1.5rem;
      position: relative;
      &:before,
      &:after {
        content: '';
        display: inline-block;
        border-top: 2px solid black;
        padding: auto 1rem;
        transform: translateY(-0.3125rem);
        width: 4rem;
        margin: 0 1rem;
        opacity: 0.6;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .form-input {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        padding: 0 0 1.25rem 0;
        label {
          font-size: 1.25rem;
          opacity: 0.85;
          font-weight: 500;
          padding-bottom: 0.15rem;
        }
        input {
          height: 2.5rem;
          border: 2px solid #fff6b8;
          outline: none;
          border-radius: 5px;
          padding: 0 0.75rem;
          width: 100%;
          &:active,
          &:focus {
            border: 2px solid #6b4a40;
            width: 100%;
            height: 2.5rem;
            transition: 1s;
          }
        }
      }
      .form-button {
        color: white;
        outline: none;
        border: none;
        width: 100%;
        height: 3rem;
        background: #6b4a40;
        border-radius: 5px;
        margin: 0 0 3rem 0;
        cursor: pointer;
      }
    }
  }
}
