$primary-color: #fff6b8;
$primary-dark: #6b4a40;
$section-bg-light: #fffceb;
$form-label: #777;
$form-placeholder: #888;
$menu-bar-content: #b99a8b;
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
}
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0.5rem 0;
  background-color: $primary-dark;
  .navbar-logo {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
    .navbar-logo-icon {
      margin-right: 1rem;
    }
    .navbar-logo-text {
      color: #fff;
    }
  }
  .navbar-links {
    display: flex;
    margin-right: 2rem;
    li {
      display: inline;
      padding: 1rem;
      a {
        font-size: 1rem;
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem;
        &:hover {
          color: $primary-color;
          border-bottom: $primary-color 2px solid;
          fill: $primary-color;
        }
      }
      .shopping-cart {
        height: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
.menu-bar {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 4.5rem;
  left: 0;
  padding-top: 0.5rem;
  background-color: $section-bg-light;
  overflow-x: hidden;
  // padding: 6rem;
  .menu-bar-content-item {
    display: flex;
    flex-direction: row;
    padding: 7px 8px 7px 16px;
    .menu-bar-content-item-text {
      text-decoration: none;
      font-size: 25px;
      color: $menu-bar-content;
      display: block;
      padding-top: 0.35rem;
      padding-left: 2rem;
    }
  }
}
////////////////////////////////////////////////////////////////
.page-content-item {
  font-family: Lato;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4.45rem;
  left: 40%;
  color: #000;
  .page-content-main-text {
    display: flex;
    height: 50px;

    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: $primary-dark;
    padding: 0rem 9rem;
    margin: 1rem 0rem;
  }
  .form-label {
    font-size: 147%;
    display: flex;
    align-items: center;
    color: $form-label;
    padding: 1rem;
  }
  input {
    padding: 0.5rem;
    width: 100%;
    font-weight: 300;
    color: $form-placeholder;
    font-size: 1rem;
  }
  .drop-shadow {
    display: flex;
    height: 3rem;
    padding: 0.4rem 2rem;
    background: #ffffff;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    border: 0px;
  }
}
