$primary-color: #00bcd4;
$section-bg: #f9f9f9;
$text-color: #5f6368;
$form-label: #a19e9b;
$form-placeholder: #888;
// $menu-bar-content: #16679a;
$footer-primary-bg: #3c444c;
$footer-secondary-bg: #5f6368;
input {
  outline: none;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: $section-bg;
  height: 150vh;
}
.navbar {
  display: flex;
  position: fixed;
  // position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0.5rem 0;
  background-color: #fff;
  .navbar-logo {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer;
    .navbar-logo-icon {
      margin-right: 1rem;
    }
    .navbar-logo-text {
      color: $text-color;
    }
  }
  .navbar-links {
    display: flex;
    margin-right: 2rem;
    li {
      display: inline;
      padding: 1rem;
      a {
        font-size: 1rem;
        text-decoration: none;
        color: $text-color;
        padding: 0.5rem 1rem;
        &:hover {
          border-bottom: $primary-color 2px solid;
        }
      }
      .shopping-cart {
        height: 1.25rem;
        font-weight: 700;
      }
    }
  }
}
.toflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .menu-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30%;
    position: sticky;
    // z-index: 1;
    top: 4.5rem;
    left: 0;
    padding-top: 0.5rem;
    background-color: $primary-color;
    overflow-x: hidden;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 7px 8px 7px 16px;
      text-decoration: none;
      .menu-bar-content-item-icon {
        margin: 2px 16px;
        color: #fff;
      }
      .menu-bar-content-item-text {
        font-size: 25px;
        text-align: center;
        color: #fff;
        display: block;
        padding-left: 2rem;
      }
      &:hover {
        padding: 7px 0px;
        margin: 0rem 1rem;
        background-color: #fff;
        border-radius: 1rem;
        .menu-bar-content-item-text,
        .menu-bar-content-item-icon {
          color: $primary-color;
        }
      }
    }
  }
  ////////////////////////////////////////////////////////////////
  .page-content {
    display: flex;
    flex-direction: column;
    margin: 4.45rem 0rem 2rem 0rem;
    // position: sticky;
    // top: 4.45rem;
    // margin-left: 10%;

    .page-content-item {
      font-family: Lato;
      display: flex;
      flex-direction: column;
      width: 100%;
      .page-content-main-text {
        display: flex;
        height: 50px;

        font-weight: 800;
        font-size: 48px;
        text-align: center;
        color: $primary-color;
        padding: 0rem 9rem;
        margin: 1rem 0rem;
      }
      .form-label {
        font-size: 147%;
        display: flex;
        align-items: center;
        color: $form-label;
        padding: 1rem;
      }
      input {
        padding: 0.5rem;
        width: 90%;
        font-weight: 300;
        color: $form-placeholder;
        font-size: 1rem;
      }
      .drop-shadow {
        display: flex;
        height: 3rem;
        padding: 0.4rem 2rem;
        background: #ffffff;
        box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
        border-radius: 21px;
        border: 0px;
      }
      .profile {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        .profile-photo {
          border-radius: 50%;
          mix-blend-mode: multiply;
        }
        a {
          text-decoration: none;
        }
        #myImg:hover {
          opacity: 0.9;
        }
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          padding-top: 100px;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto; /* Enable scroll if needed */
          background-color: rgba(0, 0, 0, 0.9);
        }

        /* Modal Content (image) */
        .modal-content {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
        }

        /* Caption of Modal Image */
        #caption {
          margin: auto;
          display: block;
          width: 80%;
          max-width: 700px;
          text-align: center;
          color: $primary-color;
          padding: 10px 0;
          height: 150px;
          font-size: 35px;
        }
        .close {
          position: absolute;
          top: 15px;
          right: 35px;
          color: #f1f1f1;
          font-size: 40px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #bbb;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
.footer {
  color: #fff;
  .footer-main {
    padding: 0 0 4rem 0;
    background-color: $footer-primary-bg;
    display: flex;
    justify-content: space-between;
    .footer-header {
      width: 25%;
      margin: 2rem 0 0 5rem;

      .footer-logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        .footer-logo-icon {
          margin-right: 1rem;
        }
        .footer-logo-text {
          color: white;
        }
      }
      .footer-logo-ptext {
        margin-top: 1.25rem;
        width: 80%;
      }
    }
    .footer-links {
      display: flex;
      // background-color: red;
      width: 70%;
      margin-top: 2rem;
      justify-content: space-evenly;
      .footer-link {
        .footer-link-header {
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
        ul {
          list-style: none;
          li {
            padding: 0.25rem 0;
            a {
              text-decoration: none;
              color: #ffffffbb;
              display: flex;
              img {
                padding-right: 0.5rem;
              }
              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .footer-secondary {
    background-color: $footer-secondary-bg;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    h4 {
      font-size: 1rem;
      font-weight: 400;
    }
    ul li {
      display: inline;
      list-style: none;
      padding: 0 1rem;
      a {
        text-decoration: none;
        color: #ffffffbb;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
