@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif; }

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center; }
  .navbar .navbar-logo {
    display: flex;
    align-items: center; }
    .navbar .navbar-logo .navbar-logo-icon {
      font-size: 3rem;
      padding-right: 0.5rem;
      color: white; }
    .navbar .navbar-logo h1 {
      padding-left: 0.5rem;
      font-weight: 700;
      color: white; }
  .navbar .navbar-links {
    display: flex;
    list-style: none; }
    .navbar .navbar-links li {
      display: inline;
      padding: 0 2rem; }
    .navbar .navbar-links a {
      text-decoration: none;
      color: white;
      font-weight: 400;
      padding: 0.5rem 0; }
      .navbar .navbar-links a .shopping-cart {
        font-size: 1.5rem;
        font-weight: bolder; }

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./../img/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }
  .banner .banner-content {
    position: absolute;
    top: 33%;
    left: 10%;
    color: white; }
    .banner .banner-content .banner-heading {
      font-size: 4rem;
      font-weight: 400;
      margin-bottom: 1.75rem; }
    .banner .banner-content .banner-text {
      font-size: 1.5rem;
      font-weight: 200;
      margin-bottom: 1.5rem; }
    .banner .banner-content .banner-button {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      border: white 2px solid;
      padding: 0.75rem 1.75rem;
      text-decoration: none;
      color: floralwhite;
      border-radius: 50px; }
      .banner .banner-content .banner-button .banner-button-text {
        font-size: 1.2rem;
        padding-right: 1.5rem; }
      .banner .banner-content .banner-button .hr-bar {
        border: white solid 1px;
        height: 100%;
        position: absolute;
        left: 65%;
        top: 0; }
      .banner .banner-content .banner-button .banner-button-icon {
        color: white; }
    .banner .banner-content .banner-button:hover {
      background-color: #aca1a1; }

.works {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .works .works-header {
    font-size: 2.25rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem; }
  .works .works-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; }
    .works .works-content .works-content-item {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; }
      .works .works-content .works-content-item .works-content-item-icon {
        height: 20%; }
      .works .works-content .works-content-item .works-content-item-title {
        font-size: 2rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem; }
      .works .works-content .works-content-item .works-content-item-text {
        font-size: 1.15rem; }
