@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Lato", sans-serif; }

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0.5rem 0;
  background-color: #6b4a40; }
  .navbar .navbar-logo {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer; }
    .navbar .navbar-logo .navbar-logo-icon {
      margin-right: 1rem; }
    .navbar .navbar-logo .navbar-logo-text {
      color: #fff; }
  .navbar .navbar-links {
    display: flex;
    margin-right: 2rem; }
    .navbar .navbar-links li {
      display: inline;
      padding: 1rem; }
      .navbar .navbar-links li a {
        font-size: 1rem;
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem; }
        .navbar .navbar-links li a:hover {
          border-bottom: #fff6b8 2px solid; }
      .navbar .navbar-links li .shopping-cart {
        height: 1.25rem;
        font-weight: 700; }

.menu-bar {
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fffceb;
  overflow-x: hidden;
  margin-top: 4.45rem; }
  .menu-bar .menu-bar-content-item {
    display: flex;
    flex-direction: row;
    padding: 6px 8px 6px 16px; }
    .menu-bar .menu-bar-content-item .menu-bar-content-item-text {
      text-decoration: none;
      font-size: 25px;
      color: #b99a8b;
      display: block; }
