@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Lato', sans-serif; }

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 0.5rem 0;
  background-color: #6b4a40; }
  .navbar .navbar-logo {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    cursor: pointer; }
    .navbar .navbar-logo .navbar-logo-icon {
      margin-right: 1rem; }
    .navbar .navbar-logo .navbar-logo-text {
      color: #fff; }
  .navbar .navbar-links {
    display: flex;
    margin-right: 2rem; }
    .navbar .navbar-links li {
      display: inline;
      padding: 1rem; }
      .navbar .navbar-links li a {
        font-size: 1rem;
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem; }
        .navbar .navbar-links li a:hover {
          color: #fff6b8;
          border-bottom: #fff6b8 2px solid;
          fill: #fff6b8; }
      .navbar .navbar-links li .shopping-cart {
        height: 1.25rem;
        font-weight: 700; }

.menu-bar {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 4.5rem;
  left: 0;
  padding-top: 0.5rem;
  background-color: #fffceb;
  overflow-x: hidden; }
  .menu-bar .menu-bar-content-item {
    display: flex;
    flex-direction: row;
    padding: 7px 8px 7px 16px; }
    .menu-bar .menu-bar-content-item .menu-bar-content-item-text {
      text-decoration: none;
      font-size: 25px;
      color: #b99a8b;
      display: block;
      padding-top: 0.35rem;
      padding-left: 2rem; }
    .menu-bar .menu-bar-content-item:hover {
      background-color: #fff6b8;
      border-radius: 1rem; }
      .menu-bar .menu-bar-content-item:hover .menu-bar-content-item-text {
        color: #6b4a40; }
      .menu-bar .menu-bar-content-item:hover .menu-bar-content-item-icon {
        fill: #6b4a40; }

.page-content {
  position: absolute;
  top: 4.45rem;
  left: 40%; }
  .page-content .page-content-item {
    font-family: Lato;
    display: flex;
    flex-direction: column;
    color: #000; }
    .page-content .page-content-item .page-content-main-text {
      display: flex;
      height: 50px;
      font-weight: 800;
      font-size: 48px;
      text-align: center;
      color: #6b4a40;
      padding: 0rem 9rem;
      margin: 1rem 0rem; }
    .page-content .page-content-item .form-label {
      font-size: 147%;
      display: flex;
      align-items: center;
      color: #777;
      padding: 1rem; }
    .page-content .page-content-item input {
      padding: 0.5rem;
      width: 100%;
      font-weight: 300;
      color: #888;
      font-size: 1rem; }
    .page-content .page-content-item .drop-shadow {
      display: flex;
      height: 3rem;
      padding: 0.4rem 2rem;
      background: #ffffff;
      box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.25);
      border-radius: 21px;
      border: 0px; }
    .page-content .page-content-item .profile {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      /* Modal Content (image) */
      /* Caption of Modal Image */ }
      .page-content .page-content-item .profile .profile-photo {
        border-radius: 50%;
        mix-blend-mode: multiply; }
      .page-content .page-content-item .profile a {
        text-decoration: none; }
      .page-content .page-content-item .profile #myImg:hover {
        opacity: 0.9; }
      .page-content .page-content-item .profile .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgba(0, 0, 0, 0.9); }
      .page-content .page-content-item .profile .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px; }
      .page-content .page-content-item .profile #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #fff6b8;
        padding: 10px 0;
        height: 150px;
        font-size: 32px; }
      .page-content .page-content-item .profile .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold; }
      .page-content .page-content-item .profile .close:hover,
      .page-content .page-content-item .profile .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer; }
